<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <% include header.html %>
</head>
<body ng-controller="socketio" ng-init="getPorts()">
    <h1><%= title %></h1>
    <ul>
        端口:
        <label ng-repeat="item in allports" >
            <input type="checkbox" ng-model="item.open" ng-click="mclick(item,$index)" ng-disabled="portschangedisable">{{item.name}}
        </label>
    </ul>
    <ul>
        监听:
        <label ng-repeat="item in monitorports" ng-show="item.show">
            <input type="checkbox" ng-model="item.monitor" ng-disabled="portschangedisable">{{item.name}}
        </label>
    </ul>

    <button type="button" class="btn btn-primary" ng-click="openSerialPort()">
        {{openbtntxt}}
    </button>
    <br>
    <textarea  cols="50" rows="10" ng-model="rcevtxt" ></textarea>
    <button type="button" class="btn btn-primary" ng-click="sendText()" ng-disabled="sendbtndisable">
        {{sendbtntxt}}
    </button>
    <br>
    <textarea cols="50" rows="2"  ng-model="sendtxt" ></textarea>
</body>
<% include footer.html %>
</html>