<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <% include header.html %>
    <style>
        [class*="col-"]{
            padding: 1px;
        }
    </style>
</head>
<body ng-controller="socketIO" ng-init="getPorts()">
    <h1><%= title %></h1>
    <ul>
        串口:
        <label ng-repeat="item in allSerialPorts">
            <input type="checkbox" ng-model="item.open" ng-click="switchClick(item,$index)" >{{item.name}}
        </label>
    </ul>
    <ul>
        监听:
        <label ng-repeat="item in monitorSerialPorts" ng-show="item.open">
            <input type="checkbox" ng-model="item.monitor" ng-click="switchMonitorClick(item)">{{item.name}}
        </label>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-md-1" ng-repeat="item in socketPorts track by $index">
                <label class="btn btn-default btn-sm">
                    <input type="checkbox" ng-model="item.listen" ng-click="switchListenSocketClick(item)" >{{item.name}}
                    <button type="button" class="close" aria-hidden="true" ng-click="removeSocketClick(item,$index)">&times;</button>
                </label>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" ng-model="addSocketPortName" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="addSocketClick()">+</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <textarea  cols="50" rows="10" ng-model="receiveTxt" ></textarea>
    <button type="button" class="btn btn-primary" ng-click="sendText()">
        发送数据
    </button>
    <br>
    <textarea cols="50" rows="2"  ng-model="sendTxt" ></textarea>
</body>
<% include footer.html %>
</html>